mixin social(name)
    div(class= 'social-' + name)
        a(class='social-' + name + '-link' href="#"): +icon('twitter', 'social-' + name + '-icon')
        a(class='social-' + name + '-link' href="#"): +icon('fb', 'social-' + name + '-icon')
        a(class='social-' + name + '-link' href="#"): +icon('skype', 'social-' + name + '-icon')