.menu-main.menu-footer
    .menu-main-item.menu-footer-item
        +icon('location', 'menu-main-img')
        p.menu-main-title.
            Location

    .menu-main-item.menu-footer-item
        +icon('new', 'menu-main-img')
        p.menu-main-title.
            what's new

    .menu-main-item.menu-footer-item
        +icon('partners', 'menu-main-img')
        p.menu-main-title.
            Partners

    .menu-main-item.menu-footer-item
        +icon('milavo', 'menu-main-img')
        p.menu-main-title.
            Milavo