doctype html

block vars

block mixins
    include ../mixins/mixins

html(lang=lang)

    block head
        include ../partials/_head

    body(class=bodyName)
        block header
        block main
        block footer
        include ../partials/_script