doctype html

block vars

block mixins
    include ../utilities/_mixins 

html(lang=lang)

    head
        include ../partials/_head

    body
        block header
        block main
        block footer
        block script
            // build:js js/vendor.js 
            // bower:js 
            // endbower 
            // endbuild
            script(src='js/common.js' async)
            script(src='js/sprite.js' async)