/*
Flex Grid Framework
Platform: Sass (.scss)

Original repository:
https://github.com/afonsopacifer/flex-grid-framework
Website:
http://flexgridframework.com/
Author:
Afonso Pacifer (afonsopacifer.com)
Version: 1.3.1
Licence:
MIT - https://github.com/afonsopacifer/flex-grid-framework/blob/master/licence.md
* /

/* Configs
------------------------------------------------*/
.clients-item {
  margin-right: 0.52083%;
  margin-left: 0.52083%; }

.clients-item {
  padding-right: 0;
  padding-left: 0; }

/* Row
------------------------------------------------*/
.clients-main {
  margin-left: 0;
  margin-right: 0;
  max-width: 1250px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  box-sizing: border-box; }

/* Columns
------------------------------------------------*/
.clients-item {
  width: 32.29167%;
  box-sizing: border-box; }

/* Offset
------------------------------------------------*/
/* Flex Container
------------------------------------------------*/
/* Flex Itens
------------------------------------------------*/
.clients {
  background: black; }

.clients-main {
  max-width: 100%; }

.clients-item {
  flex-grow: 1;
  position: relative;
  margin: 0; }

.clients-foto {
  height: 100%; }

.clients-info {
  position: absolute;
  right: 0;
  top: 0;
  width: 40%;
  padding: 2.5% 0;
  text-align: center;
  background: #eeeeee;
  z-index: 10; }

.clients-info-reverse {
  left: 0; }

.clients-info-title {
  font-size: 2em; }

.clients-info-profession {
  margin: 15px 0; }

.social-clients-icon {
  width: 30px;
  height: 30px;
  margin: 0 5%;
  fill: #8a8a8a;
  border-radius: 100%;
  transition: 0.5s all; }
  .social-clients-icon:hover {
    background: #ed1616; }

@media only screen and (max-width: 991px) {
  .clients-item {
    width: 98.95834%;
    display: flex;
    flex-direction: column; }
  .social-clients-icon {
    width: 35px;
    height: 35px; } }

@media only screen and (max-width: 479px) {
  .clients-info {
    position: static;
    width: 100%;
    padding: 0 0; } }

@media only screen and (max-width: 319px) {
  .clients-info-profession {
    margin: 20px 0; } }
