/*
Flex Grid Framework
Platform: Sass (.scss)

Original repository:
https://github.com/afonsopacifer/flex-grid-framework
Website:
http://flexgridframework.com/
Author:
Afonso Pacifer (afonsopacifer.com)
Version: 1.3.1
Licence:
MIT - https://github.com/afonsopacifer/flex-grid-framework/blob/master/licence.md
* /

/* Configs
------------------------------------------------*/
/* Row
------------------------------------------------*/
.wrapper-index-main {
  margin-left: 0;
  margin-right: 0;
  max-width: 1250px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  box-sizing: border-box; }

/* Columns
------------------------------------------------*/
/* Offset
------------------------------------------------*/
/* Flex Container
------------------------------------------------*/
/* Flex Itens
------------------------------------------------*/
.wrapper-index-main {
  margin: 0 auto; }

@media only screen and (max-width: 1199px) {
  .wrapper-index-main {
    max-width: 950px; } }

@media only screen and (max-width: 991px) {
  .wrapper-index-main {
    max-width: 750px; } }

@media only screen and (max-width: 767px) {
  .wrapper-index-main {
    max-width: 550px; } }

@media only screen and (max-width: 479px) {
  .wrapper-index-main {
    max-width: 400px; } }

@media only screen and (max-width: 319px) {
  .wrapper-index-main {
    max-width: 300px; } }

.index {
  background: url(../img/index-bg.jpg);
  background-size: cover; }

.index-main {
  width: 100%; }

.wrapper-index-main {
  flex-direction: column;
  align-items: center;
  padding: 15% 0 12% 0;
  text-align: center; }

.index-main-title {
  font-size: 3.5em;
  font-weight: normal; }

.index-main-text {
  margin-top: 15px;
  padding: 2px 2.5%;
  color: white;
  background: #1d2e34; }

@media only screen and (max-width: 1199px) {
  .index-main-title {
    font-size: 3.5em; } }

@media only screen and (max-width: 479px) {
  .index-main-text {
    width: 82.29167%;
    margin-top: 20px; } }
