/*
Flex Grid Framework
Platform: Sass (.scss)

Original repository:
https://github.com/afonsopacifer/flex-grid-framework
Website:
http://flexgridframework.com/
Author:
Afonso Pacifer (afonsopacifer.com)
Version: 1.3.1
Licence:
MIT - https://github.com/afonsopacifer/flex-grid-framework/blob/master/licence.md
* /

/* Configs
------------------------------------------------*/
.offices-item {
  margin-right: 0.52083%;
  margin-left: 0.52083%; }

.offices-item {
  padding-right: 0;
  padding-left: 0; }

/* Row
------------------------------------------------*/
.offices-main {
  margin-left: 0;
  margin-right: 0;
  max-width: 1250px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  box-sizing: border-box; }

/* Columns
------------------------------------------------*/
.offices-item {
  width: 32.29167%;
  box-sizing: border-box; }

/* Offset
------------------------------------------------*/
/* Flex Container
------------------------------------------------*/
/* Flex Itens
------------------------------------------------*/
.offices {
  background: url(../img/offices-bg.jpg);
  background-size: cover; }

.offices-main {
  max-width: 100%;
  background: url(../img/offices-bg.jpg); }

.offices-item {
  flex-grow: 1;
  position: relative;
  margin: 0;
  padding: 0;
  border: 1px solid white;
  cursor: pointer; }
  .offices-item:hover .offices-text {
    background: #da2c1d; }

.offices-img {
  height: 100%; }

.offices-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 2.5% 0;
  font-size: 2em;
  text-align: center;
  color: white;
  opacity: 0.8;
  background: black;
  transition: 0.5s all; }

@media only screen and (max-width: 991px) {
  .offices-item {
    width: 48.95834%; }
  .offices-img {
    height: 100%; } }

@media only screen and (max-width: 767px) {
  .offices-item {
    width: 65.62501%;
    border: none; } }

@media only screen and (max-width: 479px) {
  .offices-text {
    font-size: 1.5em; } }
