.menu-icon.menu-footer
    .menu-icon-item.menu-footer-item
        +icon('location', 'menu-icon-img')
        p.menu-icon-title.
            Location

    .menu-icon-item.menu-footer-item
        +icon('new', 'menu-icon-img')
        p.menu-icon-title.
            what's new

    .menu-icon-item.menu-footer-item
        +icon('partners', 'menu-icon-img')
        p.menu-icon-title.
            Partners

    .menu-icon-item.menu-footer-item
        +icon('milavo', 'menu-icon-img')
        p.menu-icon-title.
            Milavo