main.index-main
    .wrapper-index-main
        h1.index-main-title.
            We Create <b>Multimedia Content</b> for Business
        p.index-main-text.
            repeat predefined chunks as necassary making first true generator
   