main.clients-main
    +clients-item([{
        link:  'img/clients-williams.jpg',
        title: 'Williams',
        text:  'Bushess Developer',
        mod:   ' '
    },
    {
        link:  'img/clients-ananda.jpg',
        title: 'Ananda',
        text:  'Chief Execultive officer',
        mod:   ' '
    },
    {
        link:  'img/clients-shivam.jpg',
        title: 'Shivam',
        text:  'World Ground Head',
        mod:   ' '
    },
    {
        link:  'img/clients-steward.jpg',
        title: 'Steward',
        text:  'Chief Execultive officer',
        mod:   'clients-info-reverse'
    },
    {
        link:  'img/clients-nicole.jpg',
        title: 'Nicole',
        text:  'Chief World Ground Head',
        mod:   'clients-info-reverse'
    },
    {
        link:  'img/clients-chinge.jpg',
        title: 'Chinge',
        text:  'Bushess Developer' ,
        mod:   'clients-info-reverse'
    },
    {
        link:  'img/clients-williams.jpg',
        title: 'Williams',
        text:  'Bushess Developer',
        mod:   ' '
    },
    {
        link:  'img/clients-ananda.jpg',
        title: 'Ananda',
        text:  'Chief Execultive officer',
        mod:   ' '
    },
    {
        link:  'img/clients-shivam.jpg',
        title: 'Shivam',
        text:  'World Ground Head',
        mod:   ' '
    }
    ])
            
    
            