//------------------COLOR-------------------

//HEADER
$site-hd-clr:        black
$navbar-item-clr:    #0c0c0c
$navbar-text-clr:    #b8b8b8
$navbar-text-hv-clr: white
$navbar-border-clr:  #ed1616


//INDEX-MAIN
$index-main-text-bg:   #1d2e34 
$index-main-text-clr:  white





//------------------FONTS--------------------

//COMMON

//FONT-FAMILY
$general-font: 'Roboto Condensed', sans-serif


//FONT-SIZE
$index-main-title-sz:     3.5em
$index-main-title-sz-sml: 2.5em