//------------------COLOR-------------------

//HEADER
$site-hd-clr:        black
$navbar-item-clr:    #0c0c0c
$navbar-text-clr:    #b8b8b8
$navbar-text-hv-clr: white
$navbar-border-clr:  #ed1616

//MENU-ICON
$menu-icon-item-bg:    white
$menu-icon-item-hv-bg: #ed1616
$menu-icon-img-hv-clr: #ffffff
$menu-icon-burger-clr: #1d2e34 

//FOOTER
$footer-bg:       black
$copiryght:       #7c7c7c
$icon-footer-clr: #7c7c7c


//INDEX-MAIN
$index-main-text-bg:   #1d2e34 
$index-main-text-clr:  white




//------------------FONTS--------------------

//COMMON

//FONT-FAMILY
$general-font: 'Roboto Condensed', sans-serif


//FONT-SIZE

//index-main
$index-main-title-sz:     3.5em
$index-main-title-sz-sml: 2.5em

//footer
$footer-text-sz: 0.9em