mixin clients-item(items)
    each item, i in items
        .clients-item
                img.clients-foto(alt="client" src=item.link)
                div(class="clients-info" + ' ' + item.mod)
                    h2.clients-info-title=item.title
                    p.clients-info-profession=item.text
                    
                    +social([{
                        iconName:'client-twitter'
                    },
                    {
                        iconName:'client-fb' 
                    },
                    {
                        iconName:'client-google'
                    }

                    ], 'clients')