extends ../layouts/_default

block vars
    include ../utilities/_vars
    
block header
    include ../partials/_header
    
block main
    include ../blocks/_menu-icon
    include ../blocks/_index-main
  
block footer
    include ../partials/_footer