extends ../layouts/_default

block vars
    -  
        var lang =     'ru',
            title =    'Visual Studio - Home',
            style =    'css/index.css'
            bodyName = 'index'
            
block append link
    // build:css css/index.css 
    link(rel="stylesheet" href=style)
    // endbuild 
    
block header
    include ../partials/_header
    
block main
    include ../blocks/index-main/_index-main
  
block footer
    include ../partials/_footer
    
block append script
    // endbuild