extends ../layouts/_default

block vars
    -  
        var lang =   'ru',
            title =  'Visual Studio - Offices',
            style =  'css/offices.css'
    
block header
    include ../partials/_header
    
block main
    include ../blocks/common/_menu-main
    include ../blocks/offices-main/_offices-main
  
block footer
    include ../partials/_footer