+work-item([{
        link: 'img/work-item-one.jpg'
    },
    {
        link: 'img/work-item-two.jpg' 
    },
     {
        link: 'img/work-item-three.jpg' 
    },
    {
        link: 'img/work-item-four.jpg' 
    },
    {
        link: 'img/work-item-five.jpg' 
    },
    {
        link: 'img/work-item-six.jpg' 
    },
    {
        link: 'img/work-item-seven.jpg' 
    },
    {
        link: 'img/work-item-eight.jpg' 
    },
    {
        link: 'img/work-item-nine.jpg' 
    },
    {
        link: 'img/work-item-ten.jpg' 
    },
    {
        link: 'img/work-item-eleven.jpg' 
    },
    {
        link: 'img/work-item-twe.jpg'
    }
    ])