//- NAV

mixin nav(items)
    nav.navbar
        .navbar-item-mob
            +icon('burger', 'icon-nav')
            p.navicon-text= "MENU"
        each item, i in items
            a.navbar-item(href=item.href)= item.name
            

//- SPRITE
mixin icon(name, mod)
    - mod = mod || ''
    svg(class=name + " " + mod)
        use(xlink:href="#" + name)