main.team-main
    .wrapper-team
      +team-item([{
            title: 'Nana Qurishy',
            text:  'User Experience Expert',
            link:  'img/team-nana.png'
        },
        {
            title: 'Steven Smith',
            text:  'Founder & Creative Director',
            link:  'img/team-steven.png' 
        },
        {
            title: 'Mariam Clark',
            text:  'Co-Founder',
            link:  'img/team-mariam.png' 
        },
        {
            title: 'Bob Clark',
            text:  'Creative Head-Designs',
            link:  'img/team-bob.png' 
        }

        ])