footer.site-footer
    .wrapper.wrapper-footer
        p.copyright.
            COOPYRIGHT &copy;2013 VISUAL BOX, ALL RESERVED
        .social-footer
            +icon('twitter', 'icon-footer')
            +icon('fb', 'icon-footer')
            +icon('skype', 'icon-footer')