footer.site-footer
    .wrapper.wrapper-footer
        include ../blocks/footer/_menu-footer
        p.copyright.
            COOPYRIGHT &copy;2013 VISUAL BOX, ALL RESERVED
        .social-footer
            a.social-link(href="#"): +icon('twitter', 'icon-footer')
            a.social-link(href="#"): +icon('fb', 'icon-footer')
            a.social-link(href="#"): +icon('skype', 'icon-footer')