footer.site-footer
    .wrapper-footer
        include ../blocks/footer/_menu-footer
        p.copyright.
            COOPYRIGHT &copy;2013 VISUAL BOX, ALL RESERVED
        include ../blocks/footer/_social-footer