head   
    meta(charset="utf-8")
    title #{title}
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" 
         content="width=device-width, initial-scale=1, minimum-scale=1"
    )

    block link
        link(rel="shortcut icon" href="favicon.png")
        // build:css css/vendor.css 
        // bower:css 
        // endbower 
        // endbuild 