block script
            // build:js js/vendor.js 
            // bower:js 
            // endbower 
            // build:js js/main.js 
            script(src='js/sprite.js' async)
            script(src='js/common.js' async)