@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed'

*
    margin: 0
    padding: 0
    font-family: $general-font
    transition: 0.5s all

html,
body
    height: 100%

body
    display: flex
    flex-flow: wrap row
    align-items: flex-end

a
    text-decoration: none
    color: black
    
img
    width: 100%
    
button
    background: none
    border: none