main.offices-main
    +menu-icon('main')
    
    +offices-item([{
        link: 'img/offices-office.jpg',
        text: 'offices'
    },
    {
       link: 'img/offices-studio.jpg',
       text: 'studio'
    },
    {
        link: 'img/offices-meeting-areas.jpg',
        text: 'meeting areas'
    },
    {
        link: 'img/offices-guest-house.jpg',
        text: 'house'
    },
    {
        link: 'img/offices-cafe.jpg',
        text: 'cafe'
    },
    {
        link: 'img/offices-explore.jpg',
        text: 'explore'
    }
    ])