section.offices-main
    .office-item
        img.office-img(alt="offices" src="img/offices-office.jpg")
        p.office-text.
            offices
            
    .office-item
        img.office-img(alt="offices-studio" src="img/offices-studio.jpg")
        p.office-text.
            studio
        
    .office-item
        img.office-img(alt="offices-meeting-areas" src="img/offices-meeting-areas.jpg")
        p.office-text.
            meeting areas
        
    .office-item
        img.office-img(alt="offices-guest-house" src="img/offices-guest-house.jpg")
        p.office-text.
            house
        
    .office-item
        img.office-img(alt="offices-cafe" src="img/offices-cafe.jpg")
        p.office-text.
            cafe
            
    .office-item
        img.office-img(alt="offices-explore" src="img/offices-explore.jpg")
        p.office-text.
            explore